.mainContainer {  
  background-color: var(--white);
  padding: 10px;
  border-radius: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
@media (max-width : 768px){
  .mainContainer{
    flex-direction: column;
  }
}

