.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}
.lable{
    font-weight: 600;
    font-size: 18px;
}
.active{
    color: var(--blue);
    font-weight: 700;
}
.inactive{
 color: var(--gray);
}